a = "Hello %s %s!\n"

fun prints ptr :
    if *ptr == 0 : ret ;
    print(*ptr)
    prints(ptr + 1)
    ret
;

fun printf ptr, ..:
    if *ptr == 0: ret ;

    if *ptr == '%':
        ptr = ptr + 1

        if *ptr == 'd':
            printi(*args)
            args = args + 1
            nargs = nargs - 1
        ; else if *ptr == 's' :
            prints(*args)
            args = args + 1
            nargs = nargs - 1
        ;
    ; else if *ptr == '\' :
        if *(ptr + 1) == 'n':
            print('\n')
        ;
    ; else print(*ptr)

    printf(ptr + 1, ..)
    ret
;

printf(a, "abcdefg", "ABCDEFG")
